.background {
    background-color: #000;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    display: table; 
    height: 100vh;
    width: 100%;
}
.background .container {
  padding: 10% 0;
}

.input-container * {
  color: #FFFFFF;
}
.input-container .alert-danger {
    color: #721c24 !important;
    display: block;
    margin-top: 6px;
}

.input-container {
    border-right: 1px solid #fff;
    padding-right: 30px;
}
.input-container .login-form,
.input-container .register-form {
  display: none;
}
.input-container h2 {
	font-size: 36px;
	text-align: center;
}
.input-container button {
    width: 100%;
    background-color: transparent;
    border-color: #fff;
    text-align: center;
    border: 2px solid;
}
.input-container button:hover{
  background-color: #fff;
  border-color: #fff;
  color: #222;
}
.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="password"] {
	background-color: transparent;
	display: block;
	width: 100%;
	color: #fff;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}


.hasAccountText span {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.hasAccountText {
  cursor: pointer;
}

/*Login Text*/
.login-text {
  color: #FFFFFF;
}
.login-text h1{
  color: #07d159;
  font-size: 60;
  font-weight: bold;
}
.login-text h2{
  margin: 35px 0;
}
.login-text ul{
  padding: 0;
}
.login-text ul li{
    font-size: 20px;
    list-style: none;
    padding: 10px 0px 0 34px;
    background-image: url(../images/icons/checkmark.png);
    background-repeat: no-repeat;
    background-position: 0 10px;
}





