.background {
    background-color: #000;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    display: table; 
    height: 100vh;
    width: 100%;
}

.inputContainer * {
  color: #FFFFFF;
}

.inputContainer .login-form,
.inputContainer .register-form {
  display: none;
}
.inputContainer h2 {
	font-size: 36px;
	text-align: center;
}
.inputContainer button {
    width: 100%;
    background-color: transparent;
    border-color: #fff;
    text-align: center;
    border: 2px solid;
}
.inputContainer button:hover{
  background-color: #fff;
  border-color: #fff;
  color: #222;
}
.inputContainer input[type="text"],
.inputContainer input[type="email"],
.inputContainer input[type="password"] {
	background-color: transparent;
	display: block;
	width: 100%;
	color: #fff;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}


.hasAccountText span {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.hasAccountText {
  cursor: pointer;
}









